@charset "utf-8";
body {
 display: grid;
 grid-template-columns:repeat(18,1fr);
 grid-template-rows: auto 1fr auto;
 margin: 0 auto;
 width: 100%;
 max-width: 1020px;
 min-width: 640px;
 
	}
	
	body>header{
 grid-column: 1/-1;
	}
	
	body > header > img {
 width: 100%;
 display: block;
 margin: 0;
	}
	
	body > section#leftcol {
 grid-column: 1/span 13;
 grid-row: 2;
	}
	
	body > section#rightcol {
 grid-column: 14/-1;
 grid-row: 2;
	}
	
	footer {
 /*clear: both;*/
 grid-column: 1/-1;
	}


section#leftcol aside {
	width: 42%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 20px;
	
}


section#leftcol img {
	width: 100%;
	display: block;

}

.links-container a {  
	display: inline;  
	margin-right: 60px; 
	padding: 0;  
}  
